.container {
  background-repeat: no-repeat;
  background-size: 100%;
}
.background {
  &-1 {background-image: url('../img/Highschool.png');}
  &-2 {background-image: url('../img/Highschool.png');}
  &-3 {background-image: url('../img/Highschool.png');}
  &-4 {background-image: url('../img/Highschool.png');}
  &-5 {background-image: url('../img/Highschool.png');}
  &-6 {background-image: url('../img/Highschool.png');}
  &-7 {background-image: url('../img/Highschool.png');}
  &-8 {background-image: url('../img/Highschool.png');}
  &-9 {background-image: url('../img/Highschool.png');}
}
