// global
@import './global/reset';
@import './global/variables';

// mixins
@import './mixins/forsize';
@import './mixins/button';
@import './mixins/mixins';
// components
@import './components/header';
@import './components/overallStructur';
@import './components/background';


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width: 300%;
}

.mapContainer {
  transition: 2s ease;
  // overflow: hidden;
}

.flex {
  display: flex;
}
