doctype html
html
  head
    meta(charset='UTF-8')   
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    title Jeu ariel
    
    
  body.mapContainer
    
    //- TOP PAGE
    .flex
      //- TOP Left PAGE
      .container.background-1
        .question-container
          .question-container-title
            h2 Question a poser
          .question-container-btn
            button.question-container-btn-answer REPONSE A
            button.question-container-btn-answer REPONSE B
        .question-container
          .question-container-title
            h2 Question a poser
          .question-container-btn
            button.question-container-btn-answer REPONSE C
            button.question-container-btn-answer REPONSE D
        .question-container
          .question-container-title
            h2 Question a poser
          .question-container-btn
            button.question-container-btn-answer REPONSE F
            button.question-container-btn-answer REPONSE G
        .stickRight
          p Answer Right 
            i.fas.fa-arrow-right
        .stickBottom
          p Answer Bottom
          i.fas.fa-arrow-down
      //- TOP MIDDLE PAGE
      .container.background-2
        .container-question
          h2 Question
        .stickLeft
          i.fas.fa-arrow-left
          p Answer Left
        .stickRight
          p Answer Right
            i.fas.fa-arrow-right
        .stickBottom 
          p Answer Bottom
          i.fas.fa-arrow-down
      //- TOP RIGHT PAGE
      .container.background-3
        .container-question
          h2 Question
        .stickLeft
          i.fas.fa-arrow-left
          p Answer left
        .stickBottom
          p Answer Bottom
          i.fas.fa-arrow-down
    //- MIDDLE PAGE
    .flex
      //- MIDDLE LEFT PAGE
      .container.background-4
        .container-question
          h2 question lol
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickRight
          p Answer Right
            i.fas.fa-arrow-right
        .stickBottom
          p Answer Bottom
          i.fas.fa-arrow-down
      //- MIDDLE middle PAGE
      .container.background-5
        .container-question
          h2 question hey
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickLeft
          i.fas.fa-arrow-left
          p Answer left
        .stickRight
          p Answser Right 
            i.fas.fa-arrow-right
        .stickBottom
          p Answer Bottom
          i.fas.fa-arrow-down
      //- MIDDLE RIGHT PAGE
      .container.background-6
        .container-question
          h2 question hey
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickLeft
          i.fas.fa-arrow-left
          p Answser left
        .stickBottom
          p Answer Bottom
          i.fas.fa-arrow-down
    //- BOTTOM PAGE        
    .flex
      //- BOTTOM LEFT PAGE
      .container.background-7
        .container-question
          h2 question hey
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickRight
          p Answser B 
            i.fas.fa-arrow-right
      //- BOTTOM MIDDLE PAGE
      .container.background-8
        .container-question
          h2 question hey  
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickRight
          p Answer Right
            i.fas.fa-arrow-right
        .stickLeft
          i.fas.fa-arrow-left
          p Answer left

      //- BOTTOM RIGHT PAGE
      .container.background-9
        .container-question
          h2 question hey
        .stickTop
          i.fas.fa-arrow-up
          p  Answer Top
        .stickLeft
          i.fas.fa-arrow-left
          p Answser left
        
    script(src="index.js")
      
